<div class="header-container">
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['number']">
        <div class="header-caption">number</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['string']">
        <div class="header-caption">string</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['date']">
        <div class="header-caption">date</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['customPipe']">
        <div class="header-caption">custom pipes</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['async']">
        <div class="header-caption">async</div>
      </a>
    </div>
  </div>